<div *ngIf="instructor">
    <h2>{{ instructor.name }}</h2>
    <p><strong>Gender:</strong> {{ instructor.gender }}</p>
    <p><strong>Date of Birth:</strong> {{ instructor.dateOfBirth | date }}</p>
    <p><strong>Department:</strong> {{ instructor.department }}</p>
    <p><strong>Email:</strong> {{ instructor.email }}</p>
    <p><strong>Contact Number:</strong> {{ instructor.contactNumber }}</p>
    <!-- Add a link back to the instructor list page -->
    <a routerLink="/instructor-list">Back to List</a>

    <!-- Add a link to the instructor edit page -->
    <a [routerLink]="['/instructors/edit', instructor.id]">Edit</a>

</div>